@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: Raleway;
    margin:0;
    padding:0;
}

body{
    display:grid;
    grid-auto-flow:column;
    overflow:hidden;
}
h1{
    font-size:8rem;
}
p{
    font-size:2rem;
}
.page{
    display:grid;
    width:100vw;
    height:100vh;
    grid-template-rows: 2fr 6fr 2fr;
    transition:1s all ease-in-out;
}

.header{
    display:grid;
    align-items:center;
    justify-content: center;
    padding:2rem;
}
.header img{
    max-width: 100%;
    height: 100%;    
}

#frontpage .main{
    background:darkgray;
    display:grid;
    grid-template-columns:1fr 2fr;
}
.text{
    display:grid;
    align-items:center;
}
.text p{
    padding:0;
    margin:0;
}

#start{
    text-decoration: underline;
    cursor: pointer;
}

.helper{
    display:grid;
    place-items:center;
}

.helper img{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

@media screen and (max-width:700px) {
    .helper{
        position:absolute;
        bottom:0;
        left:2rem;
        width:50vw;
    }
    .helper img{
        z-index:1;
    }
    #frontpage .main{
        grid-template-columns: 1fr;
        place-items: center;
    }
}































#defaultCanvas0{
    position:absolute;
}