@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    color:white;
}

body{
    width:100vw;
    height:100vh;
    overflow:hidden;
    font-family: Raleway;
}
main{
    display:grid;
    grid-auto-flow:row;
}

.page{
    height:100vh;
    width:100vw;
    border:1px solid white;
    display:grid;
    place-items:center;
    transition:1s all ease-in-out;
    background:darkorchid;
    padding:2rem;
    background-image:url('./assets/cola.jpeg');
    background-size:cover;
    background-position:center bottom;
    box-shadow:inset 0 0 0 100vw rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width:1000px) {
}

canvas{
    display:none;
}